.grid {
    .grid-loop(@i, @width, @class: ".col-") when (@i > 0) {
        @name: e("@{class}@{i}");

        @{name} {
            width: @width * @i;
        }
        .grid-loop(@i - 1, @width, @class);
    }

    position: relative;
    width: 100%;

    [class^="col-"],
    [class*=" col-"] {
        position: relative;
        min-height: 1px;
        float: left;
    }

    .grid-loop(16, 100 / 16%);

    @media screen and (max-width: @desktop-width) {
        [class^="col-"],
        [class*=" col-"] {
            &:not([class^="col-sm-"]):not([class*=" col-sm-"]) {
                display: none;
            }
        }

        .grid-loop(10, 100 / 10%, ".col-sm-");
    }
}