/* Подсчёт */
//.calc(width, '100% - 26px - 5px')
.calc(@prop, @val) {
        @{prop}: calc(~'@{val}');
        @{prop}: -moz-calc(~'@{val}');
        @{prop}: -webkit-calc(~'@{val}');
        @{prop}: -o-calc(~'@{val}');
}

/* Переход */
//.transition(top, 2s, ease-out)
.transition(...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

/* Изменения */
.transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string
}

/* Тень текста */
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

/* Тень блока */
.box-shadow(@insert, @x: 0, @y: 0, @blur: 10px, @color: #666666) when (@insert = true) {
    -moz-box-shadow: inset @x @y @blur @color;
    -webkit-box-shadow: inset @x @y @blur @color;
    box-shadow: inset @x @y @blur @color;
}

/* Внешняя тень */
.box-shadow(@insert, @x: 0, @y: 0, @blur: 10px, @color: #666666) when (@insert = false) {
    -moz-box-shadow: @x @y @blur @color;
    -webkit-box-shadow: @x @y @blur @color;
    box-shadow: @x @y @blur @color;
}

.box-shadow(@x: 0, @y: 0, @blur: 10px, @color: #666666) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.box-shadow(@params) {
    -moz-box-shadow: @params;
    -webkit-box-shadow: @params;
    box-shadow: @params;
}

/* Размер блока */
.box-sizing(@sizing: border-box) {
    -ms-box-sizing: @sizing;
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.appearance (@appearance) {
    -moz-appearance: @appearance;
    -webkit-appearance: @appearance;
}

.border-radius(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
    -webkit-border-top-left-radius: @topleft;
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -moz-border-radius-topleft: @topleft;
    -moz-border-radius-topright: @topright;
    -moz-border-radius-bottomright: @bottomright;
    -moz-border-radius-bottomleft: @bottomleft;
    border-top-left-radius: @topleft;
    border-top-right-radius: @topright;
    border-bottom-right-radius: @bottomright;
    border-bottom-left-radius: @bottomleft;
}

.background-clip(@argument: padding-box) {
    -moz-background-clip: @argument;
    -webkit-background-clip: @argument;
    background-clip: @argument;
}

/* Добавляет анимацию */
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
    animation: @name @duration @delay @ease;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollable-x {
    white-space: nowrap;
    overflow-x: auto;
}

.user-select (@type: none) {
    -webkit-user-select: @type;
    -moz-user-select: @type;
    -ms-user-select: @type;
    user-select: @type;
}

.blur(@value) {
    .filter(blur(@value));
}

.filter(@params) {
    -webkit-filter: @params;
    -moz-filter: @params;
    -o-filter: @params;
    -ms-filter: @params;
    filter: @params;
}