@charset "utf-8";

@import "reset";
@import "mixin";
@import "font/OpenSans";
@import "font/BrutalType";
@import "font/FontAwesome/font-awesome";
@import "vars";
@import "element/content/basket";

body {
  overflow-x: hidden;

  * {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container {
    width: 100%;
    margin: auto;
    position: relative;
    min-width: 350px;

    @media (min-width: @desktop-width) {
      width: @desktop-width;

    }

    @import "element/header";

    > .content {

      @import "element/content/item";
    }

    > section > main > div > picture > img {
      width: 100%;
      padding-bottom: 35px;
    }

    > section > main > div > a > picture > img {
      width: 100%;
      padding-bottom: 40px;

      @media (min-width: @tablet-width) {
        padding-bottom: 35px;
      }
      @media (min-width: @desktop-width) {
        padding-bottom: 30px;

      }

    }

    > section > main > div > h1, h2 {
      font-family: @font-brutaltype-bold;
      font-size: 40px;
      color: @color-black;
      padding-left: 20px;
      padding-bottom: 40px;

      @media (min-width: @desktop-width) {
        padding-left: 0;

      }

    }

    > section > main > div > h2 {
      font-size: 22px;
      padding-bottom: 10px;
      padding-top: 20px;

    }

  }

  @import "element/footer";

  @media screen and (max-width: @desktop-width) {
    > .container,
    > .footer {
      width: 100%;
    }
  }

  @media screen and (max-width: @mobile-width) {
    > .container,
    > .footer {
      width: 100%;
    }
  }
}

main {

  @media (min-width: @tablet-width) {
    min-height: 450px;

  }

  @media (min-width: @desktop-width) {
    min-height: 550px;

  }

}

ul.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;

  > li {
    // width: 100%;
    padding: 30px 10px 10px 10px;

    div {
      text-align: center;
      height: 200px;
      width: 80vw;

      margin: 10px 10px 30px 10px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      @media (min-width: @tablet-width) {
        width: 200px;

      }

      &:hover {

        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);

      }
    }

    @media (min-width: @tablet-width) {
      // width: 50%;

    }
    @media (min-width: @desktop-width) {

    }

    > a {
      text-decoration: none;
      display: block;
      height: 100%;
      position: relative;

      > h3 {
        font-family: @font-brutaltype-bold;
        font-size: 16px;
        color: @color-black;
        padding: 0 5px;
        background-color: rgba(255, 255, 255, 0.47);
        position: absolute;
        bottom: 0;

      }

    }
  }
}

#about {
  padding-top: 35px;
  padding-bottom: 70px;
}

#catalog-category-select {
  border: none;
  color: @color-black;
  font-family: @font-brutaltype-extra-light;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  max-width: 300px;

  @media (min-width: @tablet-width) {
    max-width: 100%;

  }

}

#catalog-category-label {

  white-space: nowrap;

  &:before {
    content: '\f150';
    color: @color-red;
    pointer-events: none;
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
  }

}

.menuDescription {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  font-family: @font-opensans-light;

  h3 {
    font-size: 22px;
    padding-bottom: 10px;
    padding: 0 10px;

  }
}

.section-img {
  text-align: right;
}

.katalogItems {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {

    padding-bottom: 50px;
  }
  @media (min-width: @desktop-width) {

    padding-bottom: 50px;
  }

  &.list {
    li {
      width: 100%;
      margin: 0;

      &:nth-child(odd) {

        .itemKatalog {
          .itemToBye {

            label {

              background-color: @color-black;
            }
          }
        }

      }

      .itemKatalogDesc {

      }

      .itemKatalogTags {

      }

      .itemKatalogTag {

      }

      .itemKatalogFirstPrice {
        padding: 0 5px;
        position: absolute;
        right: 15px;
        top: 30px;
        color: @color-black;
        background-color: transparent;
        font-family: @font-brutaltype-bold;

      }

      .itemKatalog {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;

        @media (min-width: @tablet-width) {

          flex-wrap: nowrap;
          justify-content: flex-start;
        }

        a {

          h2 {
            font-size: 21px;
            font-family: @font-brutaltype-light, sans-serif;
            width: 85%;
            padding-top: 20px;

          }
        }

        .itemKatalogImgA {

          order: -1;
        }

        .itemKatalogNameA {
          text-align: left;
          padding-left: 20px;
          flex-grow: 1;
        }

        .itemToBye {

          label {
            display: block;
          }

        }

      }

      .itemKatalogImg {
        width: 200px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        float: left;
        padding-right: 10px;

        &:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          z-index: 0;
        }
      }

      .itemKatalogKupit {

        display: none;
      }

    }

  }

  li {

    width: 100%;
    padding: 10px 0;
    margin: 0 0 20px 0;

    @media (min-width: @tablet-width) {
      width: 40%;
    }

    @media (min-width: @desktop-width) {

      justify-content: space-between;
      width: 30%;
      height: auto;
    }

    .itemKatalogDesc {

      font-family: @font-brutaltype-light;
      font-size: 16px;
      color: @color-black;
      padding-bottom: 10px;
    }

    .itemKatalogTags {
      padding-top: 30px;
      text-align: center;
      padding-bottom: 20px;
    }

    .itemKatalogTag {
      display: inline-block;
      color: #333c;
      padding: 2px 8px;
      margin-bottom: 10px;
      border-radius: 99999em;
      border: 1px solid #cccccc61;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      background-color: #cccccc47;
      margin-right: 5px;
    }

    .itemKatalogFirstPrice {
      font-family: @font-brutaltype-light;
      color: #000000;
      font-size: 22px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: right;
      padding-left: 15px;
      z-index: 999;
      border-radius: 3px;
      white-space: nowrap;

    }

    .itemKatalogKupit {
      color: #000000;
      background-color: @color-red;
      position: absolute;
      left: -20px;
      bottom: 30px;
      height: 40px;
      width: 170px;
      font-size: 25px;
      font-family: @font-brutaltype-bold;
      text-align: left;
      padding-left: 35px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 40px solid white;
        border-left: 40px solid @color-red;
      }
      a {
        color: #000000;

      }
    }

    .itemKatalog {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background-color: #ffffff;

      a {
        text-decoration: none;
        display: block;
        position: relative;

        h2 {
          padding-bottom: 20px;
          font-size: 20px;
          z-index: 999;

        }
      }

      .itemToBye {

        label {
          display: none;
          color: #ffffff;
          background-color: @color-red;
          font-size: 18px;
          padding: 5px 8px 5px 5px;
          border-radius: 3px;
          margin-top: 15px;
          margin-left: 8px;

          &:hover {
            background-color: #bd7211;
            cursor: pointer;

          }
        }

      }

      border: solid @color-red 2px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 30px solid @color-red;
        border-left: 30px solid white;
      }

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 59;
      }

    }

    .itemKatalogImg {
      width: auto;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

    }

  }

}

.katalogItemsColor {

  li {
    float: left;
    margin: 0 5px 5px 0;
    max-width: 20px;
    max-height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

  }

}

.offerTable {
  width: 100%;
  padding-bottom: 50px;

  @media (min-width: @desktop-width) {

    display: table;
  }

}

.description {
  line-height: 1.5 !important;

  padding: 0 20px;

  @media (min-width: @desktop-width) {

    padding: 0 ;
  }

  ul {
    list-style: circle;
    padding-left: 30px;
  }
}

.itemKatalogHRow {

  display: flex;
  position: relative;
  width: 100%;

}

.itemKatalogRow {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

}

.itemKatalogHCell {

  background: @color-red;
  color: @color-white;
  font-family: @font-opensans-light;
  padding-top: 16px;
  padding-bottom: 10px;
  line-height: 1.3;
  vertical-align: middle;
  width: 25%;
  text-align: center;

  &:first-child {

    padding-left: 10px;
  }

  @media (min-width: @desktop-width) {
    display: table-cell;
  }

}

.itemKatalogHCommandCell {

  background: @color-red;
  color: @color-white;
  font-family: @font-opensans-bold;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 130px;
  position: absolute;
  right: 0;
  top: -65px;

  .print {
    left: 15px;
    position: relative;
    display: block;
    width: 35px;
    height: 33px;
    background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDxp4BWxOAAABxElEQVRIx8XWP2gTYRjH8c+l14toxKIUFBT/IQh2cugQ4iAFFXRQJ3FQOrhZ6uAi4tCKq4OIo7PQwUHEUVCcFKGzFVqiiLgI1goqOYemyd0ll0si4u/geN7nnvfL8/7e+xfEEjrhqBGpVEuBho9eeZ9Oz4EwkZlyQ5GmPXavM11KxJMg7nHAOfOdmGQ3a+CqzzmdnDYNjrntVj6mAZabuE59aUU1d9zMW9S6tuX6UknEVdd7Y/I1mlniweEwLzO3wqnu3hSp7rJJoxrKLgltHw5DXb0ZXRD6Pdyi2qpk5w2H6VAS82PAuYn6DW92i+wcEDPugJ8+QBBzxKxDrYsXferDmwWbmvGK+3Nvgni/h6mS43118tTmxGgmNJspmPGtEBKJwBOBM7gWOpwpOd+3Ny/cxZiaPX+z4WOtcxzE6VUOpmWBvVgb7GHIat9G8A/u4v+P6fTmue+FsyJTRtKYcqZkvhACtdT+RqU0Fbv6gGTfN2Hoih1ixM6qDmTIW48ECHwNLVlqpidUsdoHYFWMFa+7fcO3gnG/BD0hsYoAW5IWt7Vu2gONQkxJlI9ZdJKOncvXYnfMM2UTSjn/N9mO3lloD/8ASrheDSbH/ngAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    float: left;

    @media (min-width: @desktop-width) {
      left: 115px;
    }

    &:hover {
      background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDzM6t/QiAAAByUlEQVRIx8XWP2hTURTH8c+LIW0KahAVRRcLLkUU1zgK0sWibgqiQ3EQXd0EdRUEoQ7i4CYIStHNwUEnJ61DlQoODk4O1sT/pTkOTZr3+hJfmyL+7nLuue98Oefcy70vCSmddlhZxrWsxKL3HnmddV9dWkzFnHRPsaZczGNKKc84CC3RY7TaWV7wMM8up+wmqPsg6ZFFmHQNnDDteH9MC7zR6FPOx2XrmMcm0kul3Mdb+3allrKPuvN3TH9VMrNJBwbDTLfL7uhs794Uac6YcUMWVV1WsWMwDHPm2tYlFQuDFdVVTYn0aR8Mk1Ma01xj7Ld8b/aq2rNGzG77/fQOhKjHy+hqNBSOWnxd/n42jlwh9kVWxRAhGpmYQ2VTK1K96XNhOcOGwW2Jc7glvsegehBCTEfEj/Vs+HawDa0kGjYODJqVGENzfZiOmv/gFP9/TP6iuO9Lzys9rSGnspFJLKxAFSGWlN2Y36VcPqOrgNRWNKNSdtBOgXA++2gU6qnrEiQ+lc2YabvrJjC/CsC8wFtPOo9vuqQtYJdfBf0JNQk2d11pzFLTXmgVYkqq2NQb88wZjKy6N897Y+4aUbehz/9NVi2v3OhO/wCE3v+KBTZo6wAAAABJRU5ErkJggg==');
      cursor: pointer;
    }
  }

  .cart {
    position: relative;
    display: block;
    width: 40px;
    height: 32px;
    background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAQAAADKpPKLAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMVKAknvPXCAAAB7ElEQVRIx63WT0sUYRgA8N/YpiAdBLt4qCAQlAi2Lh06duoLBPUBAg9RBHWQREY6RAURHiIhgj5AdZASpSAQoT+YfwhNsqBAi0xWQktbmg7bars7s7pjzxzmfd95+DHzPjPvvEF0SVZgIyIf9cjZYoRl/YxjFTnNTru6VbA86mJHs2k5Msa1/tNvBC0arKYDg6iIFOKoTtBltGRmIdpUWwvzQVlWxqAAkR8V4Ob4T/1BxZVb2tLPYFxRxrbDeV8JvtsWOFQJTm0LHKwE58yn5ibDxbgXeyw1OBL/paQHn8SDb1NyE+HXePCT76nAZ8SDv02mAkeSQMZTcFPh5/8LDhRO8eCM5ZrB4WpgZLZGbiZcrAbypkbwcbGRBI7VxK0aKjYzCSmT8jKYdc2aFvUJecsWCD9sDASJ6/oVR5DT76WJKnd30AG7LHkQ5quDFx1fbz9yJ2bRjzTpXP/FzTkbLiSD+/SVPGY+Jieys6Q/HXYkF+WEegzr0CtCJuYocPPOuyCHtu7WZHA/VnSZdt9T1eJ6+Dp8pRe0J1d5BTs0yaEZfJEv2wPt1oC9RrEH/EoGhxzW4LaH2mTxzcmKsmTdwJnuZnVOgRfVqtxXskU5F7tgFF6tYtwL71YDG/VoB0tuep6Qddmhv62BsBf+AGj+gxHaJ9l/AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    left: 67px;

    @media (min-width: @desktop-width) {
      left: 167px;
    }

    &:after {
      position: absolute;
      top: -12px;
      right: -12px;
      display: block;
      width: 25px;
      height: 20px;
      border-radius: 50%;
      content: attr(data-cartcount);
      background-color: #6a6a6a;
      text-align: center;
      color: #ffffff;
      font-family: "BrutalTypeLight", sans-serif;
      font-size: 17px;
      padding-bottom: 5px;
    }

    &:hover {
      background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAQAAADKpPKLAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMVKBfds8ihAAAB9klEQVRIx6XVv2sUQRjG8e8cMRowYqNgUgULxc4UJ4hwGsHCJtiZzhALm2BpY7Ejgn+BVTQGjbFQNCgRLAL5IcgREolYiHii4kG4IBIlnHrmHgvvjJud2eTm3i12ZvfdD/POzs4ajZEjw3pUeUMfJbYYdkPfSI6sYQZCwYwz68RWuWS0ME03UB/nLgC6aKMcBhpB+3/9Xu4AcIbJxOi1qVa2FbMhq5UyGaDKKiblUTe+ypBJ3MmTDZ9B10uZbobjVRJ82RQ4mix5P++aAPclR1jgfTD33C65Fnb4LD52fylTweA9NzgXyM3az27wLV+DwPvgBteYDQKf+ECYCeDy9oMfDHnPI39PbnCBlYbB8TSwymKD3LxdSgPhRYPgrXrDB041xJUZrTeNZxveyRdagUXO84MudniobxTBvl6/YLz7+gSngRJDPEtdl8c4ym6WuW5/pYPD9P9r3+SyY9MXe7hNd61XIGeLfvAQ87EyK05we6w/Z7OA3McNSdIjZTWoNaVFQT06pZIk6XDkBfOSVmrtu6ngyYgInZUkXYho8czgd2AbeykBHQB8pBL7sYpO2oCDTAIHAPjpL/mcJOmTLumBJKkok8g5Lkn6rau6Vhtth79ktBArLOfMmYjlXImIUpZNOw85AsAygzz1ZI3TU5uAEXsR4A+EaU/g8ugxhAAAAABJRU5ErkJggg==');
      cursor: pointer;
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;
    position: static;
    display: table-cell;
  }
}

.itemKatalogRowParamPrice {
  white-space: nowrap;
  font-weight: bolder;
}

.itemKatalogRowParam {

  padding-bottom: 10px;
  font-family: @font-brutaltype-light;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  text-align-last: center;

  span.item_edizm {
    font-size: 16px;
  }

}

.quant {

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.itemTov {

  padding: 20px;
  background-color: @color-red;
  display: flex;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: @color-black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    padding-bottom: 10px !important;
  }

  @media (min-width: @tablet-width) {

    flex-direction: column;

  }

  & input.inpAdd {
    border: none;
    background-color: @color-red;
    color: @color-black;
    text-align: center;
    font-family: @font-brutaltype-bold;
    font-size: 20px;
    height: 43px;
    width: 100%;

    &:hover {

      background-color: #2c2c2c;
      cursor: pointer;
      color: @color-red;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }

  & input.inp {

    border: 1px solid;
    border-color: @color-red;
    height: 39px;
    width: 95px;
    font-family: @font-brutaltype-bold;
    font-size: 22px;
    text-align: center;
    outline: none;
    border-radius: 3px;
    color: @color-black;

  }

  @media (min-width: @desktop-width) {

  }
  .itemTovKolvo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      width: 50%;
      text-align: left;
      margin: auto;

      p {
        text-align: center;
        @media (min-width: @tablet-width) {
          text-align: left;

        }

      }
      @media (min-width: @tablet-width) {
        width: 100%;

      }

    }

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

}

.item-page {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    padding-right: 0;

  }

  h1 {
    width: 100%;
    font-size: 25px;
    padding-bottom: 20px !important;
  }

  .item-img {
    flex-grow: 2;
  }
  .korpus {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

}

//Корзина

#cart-form {

}

.simpleCartResult {

  @media (min-width: @desktop-width) {
    padding-left: 40px;

  }
}

.simpleCart_items {

  > div {

    @media (min-width: @tablet-width) {

    }

    @media (min-width: @desktop-width) {

    }

    > div {

      width: 100%;
      @media (min-width: @tablet-width) {
        display: inline-table;

      }

    }
  }

}

.containerCart {
  padding-top: 50px;
}

.headerRow {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  background: @color-red;
  color: @color-black;
  font-family: @font-opensans-light;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  > div {

    padding: 5px;
  }

  .item-remove {

    display: none;
    @media (min-width: @tablet-width) {
      display: block;
    }
  }
  .item-pagelink {
    width: 50%;
    text-align: center;
  }

}

.simpleCart_items {
  border-bottom: 1px solid #ddd;
}

.itemRow {

  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 35px;
  font-family: @font-brutaltype-light;
  font-size: 18px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    width: auto;
    display: table-row;
    padding-bottom: 5px;
  }

  &:nth-child(2n-1) {
    background: @color-smoke-white;
  }

  > div {

    text-align: center;

    @media (min-width: @tablet-width) {
      display: table-cell;
    }

    &.item-thumb {

      vertical-align: middle;

      img {

        width: 100px;
        padding: 10px;
      }
    }

    &.item-remove {
      padding-right: 20px;
      width: 20px;
      a {
        color: @color-red;
        font-family: @font-brutaltype-bold;
        text-decoration: none;
        float: right;
      }
    }

    &.item-total {

      white-space: nowrap;
      padding-top: 15px;
      font-weight: bolder;
    }

    &.item-cell {
      padding-top: 15px;
    }

    &.item-price {

      white-space: nowrap;
      text-align: center;
      padding-bottom: 30px;

      width: 30%;

      @media (min-width: @tablet-width) {
        width: 15%;
      }

    }

    &.item-pagelink {
      width: 70%;
      text-align: center;
      vertical-align: middle;
      padding-bottom: 30px;

      @media (min-width: @tablet-width) {
        padding-left: 10px;
        width: 50%;
        text-align: left;
        padding-bottom: 0;
      }

      a {

        color: @color-black;
        text-decoration: none;
        line-height: 1.5;

        &:hover {
          text-decoration: underline;

        }
      }

    }

    &.item-quantity {
      padding-left: 20px;
      width: 10%;
    }

  }
}

input.simpleCart_input {
  background: none;
  border: 1px solid;
  border-color: @color-pink;
  height: 39px;
  width: 65px;
  font-family: @font-brutaltype-light;
  font-size: 22px;
  text-align: center;
  outline: none;
}

.simpleCart_grandTotal {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  font-family: @font-brutaltype-bold;
  font-size: 28px;
}

.cart-result {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .formItem {
    padding-bottom: 50px;
    font-family: @font-brutaltype-light;
    font-size: 18px;
    vertical-align: middle;
    width: 90%;

    @media (min-width: @tablet-width) {
      padding-left: 20px;
      width: 40%;

    }

    & input, textarea {
      background: none;
      border: 1px solid;
      border-color: @color-black;
      height: 49px;
      width: 98%;
      font-family: @font-brutaltype-light;
      font-size: 22px;
      text-align: center;
      outline: none;

    }
  }

  .formItemFile {

    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;

    @media (min-width: @tablet-width) {

      width: 40%;

    }

    p {
      font-family: @font-brutaltype-light;
      font-size: 18px;
      line-height: 1.5;

    }

    .buttonFile {

      position: relative;
      overflow: hidden;
      width: 250px;
      height: 40px;
      background: @color-red;
      border-radius: 3px;

      margin: 10px auto;

      & :hover {
        background: #A9670F;

      }

      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      input {
        display: none;
      }
      span {
        line-height: 40px;
        font-weight: bold;

      }
    }
  }

}

#cart-form > div > div {

  text-align: center;

  @media (min-width: @desktop-width) {

  }

  > button {
    margin-top: 40px;
    border: none;
    background-color: @color-black;
    color: @color-white;
    text-align: center;
    font-family: @font-brutaltype-light;
    font-size: 20px;
    height: 43px;
    width: 235px;
  }
}

.cartButton {
  width: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  > button {
    margin-bottom: 40px;
    border: none;
    background-color: @color-black;
    color: @color-white;
    text-align: center;
    font-family: @font-brutaltype-light;
    font-size: 20px;
    height: 43px;
    width: 235px;

    &:hover {

      background-color: #0c6e13;
      cursor: pointer;
    }
  }
}

#emptyCart {
  height: 300px;
  text-align: center;
  padding-top: 50px;
}

.zakonPers {

  font-family: @font-brutaltype-light;
  line-height: 1.5;
  a {
    color: @color-red;
    text-decoration: none;
    &:hover {
      text-decoration: underline;

    }
  }
}

#print-content {
  position: relative;
  width: 35px;
  height: 33px;
  background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDxp4BWxOAAABxElEQVRIx8XWP2gTYRjH8c+l14toxKIUFBT/IQh2cugQ4iAFFXRQJ3FQOrhZ6uAi4tCKq4OIo7PQwUHEUVCcFKGzFVqiiLgI1goqOYemyd0ll0si4u/geN7nnvfL8/7e+xfEEjrhqBGpVEuBho9eeZ9Oz4EwkZlyQ5GmPXavM11KxJMg7nHAOfOdmGQ3a+CqzzmdnDYNjrntVj6mAZabuE59aUU1d9zMW9S6tuX6UknEVdd7Y/I1mlniweEwLzO3wqnu3hSp7rJJoxrKLgltHw5DXb0ZXRD6Pdyi2qpk5w2H6VAS82PAuYn6DW92i+wcEDPugJ8+QBBzxKxDrYsXferDmwWbmvGK+3Nvgni/h6mS43118tTmxGgmNJspmPGtEBKJwBOBM7gWOpwpOd+3Ny/cxZiaPX+z4WOtcxzE6VUOpmWBvVgb7GHIat9G8A/u4v+P6fTmue+FsyJTRtKYcqZkvhACtdT+RqU0Fbv6gGTfN2Hoih1ixM6qDmTIW48ECHwNLVlqpidUsdoHYFWMFa+7fcO3gnG/BD0hsYoAW5IWt7Vu2gONQkxJlI9ZdJKOncvXYnfMM2UTSjn/N9mO3lloD/8ASrheDSbH/ngAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  float: left;

  &:hover {
    background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDzM6t/QiAAAByUlEQVRIx8XWP2hTURTH8c+LIW0KahAVRRcLLkUU1zgK0sWibgqiQ3EQXd0EdRUEoQ7i4CYIStHNwUEnJ61DlQoODk4O1sT/pTkOTZr3+hJfmyL+7nLuue98Oefcy70vCSmddlhZxrWsxKL3HnmddV9dWkzFnHRPsaZczGNKKc84CC3RY7TaWV7wMM8up+wmqPsg6ZFFmHQNnDDteH9MC7zR6FPOx2XrmMcm0kul3Mdb+3allrKPuvN3TH9VMrNJBwbDTLfL7uhs794Uac6YcUMWVV1WsWMwDHPm2tYlFQuDFdVVTYn0aR8Mk1Ma01xj7Ld8b/aq2rNGzG77/fQOhKjHy+hqNBSOWnxd/n42jlwh9kVWxRAhGpmYQ2VTK1K96XNhOcOGwW2Jc7glvsegehBCTEfEj/Vs+HawDa0kGjYODJqVGENzfZiOmv/gFP9/TP6iuO9Lzys9rSGnspFJLKxAFSGWlN2Y36VcPqOrgNRWNKNSdtBOgXA++2gU6qnrEiQ+lc2YabvrJjC/CsC8wFtPOo9vuqQtYJdfBf0JNQk2d11pzFLTXmgVYkqq2NQb88wZjKy6N897Y+4aUbehz/9NVi2v3OhO/wCE3v+KBTZo6wAAAABJRU5ErkJggg==');
    cursor: pointer;

  }

}

.menu__item--current {
  a {
    color: @color-red !important;

  }

}

// Контакты
main .contacts-block {
  font-family: @font-brutaltype-light;
  line-height: 1.5;
  background: #fff;
  position: absolute;
  z-index: 1000;
  bottom: 35%;
  right: 70px;
  padding: 10px 10px 10px 20px;
  overflow: hidden;
  border-radius: 7px;
  text-align: center;
}

.containercontact {

  font-family: @font-brutaltype-light;
  padding: 30px 0 30px 0;
  line-height: 1.5;
}

// --Контакты

body > div.container > section > main > div > p {

  font-family: @font-brutaltype-light;
  line-height: 1.5;
}

body > div.container > section > main > div > ul {
  list-style: circle;
  font-family: @font-brutaltype-light;
  padding-left: 20px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

body > div.container > section > main > div > ul > ol {
  list-style: square;
  font-family: @font-brutaltype-light;
  padding-left: 40px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prodToCart {
  background: #fff;
  width: 200px;
  text-align: center;
  padding-top: 10px;
}

#cartMenu:after {
  position: absolute;
  top: -10px;
  right: auto;
  content: attr(data-cartsumma);
  color: @color-black;
  background: @color-red;
  border-radius: 5px;
  padding: 3px;
  font-family: @font-brutaltype-light;
  font-size: 13px;
  white-space: nowrap;

}

.is-sticky #cartMenu:after {
  top: 0;
  margin-left: 3px;

}

#cartMenu.hidden:after {
  display: none;
}

#cartMenu {
  position: relative;
}

.error, .caution {
  border-color: @color-red !important;
  background-color: @color-pink !important;
}

@media print {
  img {
    max-width: 200px;
    float: right;
    z-index: 999999;
  }

  aside {
    display: none !important;
  }

  input, textarea, button {
    display: none !important;
  }

  .footer, .zakonPers {
    display: none !important;
  }

  #cart, #print-content {
    display: none !important;
  }

  .search, .menuButton {
    display: none !important;
  }

  body .container .header > .top .contact {
    width: 250px;
    display: flex;
    flex-wrap: wrap;

    a {
      width: 20%;
    }
    p {
      width: 75%;
      padding-left: 5px;
      display: block;
    }

  }

  .itemKatalogRowInput {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }

  .itemKatalogRowParam {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

  }

  body .container > .content.item .section .section-bottom {
    padding-top: 5px !important;
  }

  .itemKatalogHCommandCell {

    display: none !important;
  }

  body .container > .content.item .section .section-top .section-info h1 {
    margin-bottom: 5px !important;
  }

  body .container > .content.item .section .section-bottom {
    padding-top: 5px !important;
  }

  .itemKatalogHCell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: dotted 1px #999999 !important;
  }

  .itemRow {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .simpleCart_items > div > div {

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

  }

  .item-total {
    padding-top: 5px !important;
    display: block !important;
    width: 140px;
    font-weight: bolder;
  }

  .item-cell {
    padding-top: 5px !important;

  }

  .item-price {
    padding-bottom: 5px !important;

  }

  .item-pagelink {
    flex-grow: 2;
  }

  .simpleCart_input {
    display: block !important;
    border: none !important;
  }

  .item-remove, .headerRow {
    display: none !important;
  }

}

.news-list {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .news-item {
    display: flex;
    flex-direction: column;
    border: @color-red dotted 1px;
    width: 100%;
    padding: 20px;
    margin: 5px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
    }

    @media (min-width: @desktop-width) {
      width: 45%;
    }

    .news-desc {
      padding-left: 20px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.3;

      h2 {
        font-size: 20px;
        padding-bottom: 10px;
        a {
          text-decoration: none;
          color: @color-black;
        }

      }

      .news-link {

        text-align: right;
        text-decoration: none;
        width: fit-content;
        color: @color-white;
        background-color: @color-gray;
        padding: 5px 10px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-top: 5px;

        &:hover {

          color: @color-red;
          background-color: @color-black;
        }

      }

    }
    .news-img {
      text-align: center;
      padding-bottom: 20px;
    }

    .news-image {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 150px;

      @media (min-width: @tablet-width) {
        width: 300px;
      }

    }
  }

}

.contentNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
  padding: 0 20px;
  @media (min-width: @desktop-width) {
    padding: 0;
  }

  .polovina {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {

      width: 45%;
    }

    &:nth-child(1) {
      width: 100%;
      ul {
        padding-top: 20px;
        padding-bottom: 20px;
        list-style: circle;
      }
    }

    &:nth-child(2) {

      padding-right: 20px;
    }

    img {
      padding-top: 20px;
      width: 100%;
      height: auto;
    }

  }

}

.content {
  padding-bottom: 20px;
  line-height: 1.5;

  @media (min-width: @desktop-width) {
    min-height: 54vh;
  }

  h1 {
    padding: 0 0 20px 20px;
    font-size: 35px;

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  h3 {
    padding: 0 20px;
    @media (min-width: @desktop-width) {
      padding: 0;
    }

  }
  p {

    padding: 5px 20px 10px 20px;

    @media (min-width: @desktop-width) {

      padding: 0 0 10px 0;
    }
  }

}

.backToNews {

  text-align: center;
  padding-top: 50px;
  a {
    text-decoration: none;
    color: @color-white;
    background-color: @color-gray;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {

      color: @color-red;
      background-color: @color-black;
    }
  }

}

.videoRecord {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;

  iframe {

    width: 100%;
    min-height: 250px;

    @media (min-width: @tablet-width) {

      width: 600px;
      height: 350px;
    }

  }
}

//Восстановление коронок

.vostKoronok {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;

  p {
    padding: 35px 20px;

    @media (min-width: @desktop-width) {

      padding: 35px 0;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 35px;
    justify-content: space-around;
  }

  li {
    width: 100%;

    ol {
      padding-top: 15px;
      padding-left: 60px;
      list-style: circle;
      li {
        width: 100%;
        padding-bottom: 10px;

      }

    }

    img {
      float: left;
      width: 30px;
      height: 25px;
      display: block;
      margin: 0 auto;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-right: 20px;
    }
  }
}

//--Восстановление коронок

// слой

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(200, 200, 200, 0.53);
  z-index: 3000;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url(/asset/image/spinning-circles.svg) center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

// --слой

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 9999;
}

.slick-prev {

  &:before {
    content: url('/asset/image/icon/arrowleft.png');

  }
}

.slick-next {
  right: 20px;

  @media (min-width: @tablet-width) {
    right: 30px;

  }

  @media (min-width: @desktop-width) {
    right: 50px;

  }

  &:before {
    content: url('/asset/image/icon/arrowright.png');

  }
}

.onas {
  padding: 50px 20px;

  @media (min-width: @tablet-width) {
    padding: 50px 30px;

  }

  @media (min-width: @desktop-width) {
    padding: 50px 50px;

  }

}

.onasElement {
  padding: 0 30px 0 30px;
  cursor: pointer;
  text-align: justify;

  @media (min-width: @tablet-width) {
    padding: 0 45px 0 45px;

  }

  @media (min-width: @desktop-width) {
    padding: 0 55px 0 55px;

  }

  h3 {
    font-size: 25px;
    padding-bottom: 20px;
  }

}

@image_path: '../dist';

.youCover {
  position: relative;
  display: block;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  background-color: #000000;
  &:before {
    .alltrans();
    .opacity(.5);
    content: " ";
    position: absolute;
    width: 100px;
    height: 70px;
    background-image: url("@{image_path}/youtube-ico.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -35px;
    z-index: 3;
  }

  &.active-iframe {
    img {
      .opacity(0);
    }
    iframe {
      display: block;
    }
    &:before {
      .opacity(0) !important;
      -webkit-transform: scale(3);
      -ms-transform: scale(3);
      -moz-transform: scale(3);
      transform: scale(3);
    }
  }

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    .alltrans();
  }

  &:hover {
    &:before {
      .opacity(1);
    }

  }
  &.fancybox-active {
    img {
      border: 5px solid rebeccapurple;
    }
  }
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.alltrans(@seconds:.2s) {
  -webkit-transition: all @seconds linear;
  -moz-transition: all @seconds linear;
  -o-transition: all @seconds linear;
  transition: all @seconds linear;
}

.main-slider {
  width: 400px;

  img {
    width: 400px
  }

}

.map {
  height: 600px;
}

.g-recaptcha {
  margin: 0 auto;
  padding-top: 10px;
  div {
    margin: auto;
  }
}

/* Needed for the lightbox */

html, body {
  height: 100%;
  width: 100%;
}

/* CSS for the loading div */

.sp-loading {
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border: 5px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #888;
}

/* Element wrapper */

.sp-wrap {
  display: none;
  line-height: 0;
  font-size: 0;
  border: 1px solid @color-red;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  float: left;
  /**************
    Set max-width to your thumbnail width
  ***************/

  width: 100%;

  @media (min-width: @tablet-width) {

    width: 50%;
  }

  @media (min-width: @desktop-width) {

    width: 65%;
  }
}

/* Thumbnails */

.sp-thumbs {
  text-align: center;
  padding-top: 20px;
}

.sp-thumbs img {
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .3;
  display: inline-block;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sp-thumbs a:hover {
  opacity: 1;
}

/* Styles for the currently selected thumbnail */

.sp-thumbs a:active, .sp-current {
  opacity: 1 !important;
  position: relative;
  border: @color-red solid 2px;
  border-radius: 3px;
}

/* Image currently being viewed */

.sp-large {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.sp-large a img {
  max-width: 100%;
  height: auto;

  max-height: 300px;
}

.sp-large a {
  display: block;
  text-align: center;

}

/* Panning Zoomed Image */

.sp-zoom {
  position: absolute;
  left: -50%;
  top: -50%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: none;
}

/* Lightbox */

.sp-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .7);
  z-index: 500;
  display: none;
  cursor: pointer;
}

.sp-lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
}

#sp-prev, #sp-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 501;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  background: @color-red;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: .2s;
}

#sp-prev {
  left: 20px;
}

#sp-prev:before {
  content: '';
  border: 7px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  top: 16px;
  left: 7px;
}

#sp-next {
  right: 20px;
}

#sp-next:before {
  content: '';
  border: 7px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 16px;
  left: 18px;
}

#sp-prev:hover, #sp-next:hover {
  background: #444;
}

/* Tweak styles for small viewports */

@media screen and (max-width: 400px) {
  .sp-wrap {
    margin: 0 0 15px 0;
  }

  #sp-prev, #sp-next {
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
}

/*!
 * Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__html, .fotorama__img, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
}

.fotorama--fullscreen, .fotorama__img {
  max-width: 99999px !important;
  max-height: 99999px !important;
  min-width: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important
}

.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab
}

.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing
}

.fotorama__spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important
}

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.fotorama__caption, .fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__nav, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage, .fotorama__wrap--css3 .fotorama__stage .fotorama__img, .fotorama__wrap--css3 .fotorama__stage__frame {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.fotorama__arr:focus, .fotorama__fullscreen-icon:focus, .fotorama__nav__frame {
  outline: 0
}

.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after {
  content: '';
  border-radius: inherit;
  background-color: rgba(0, 175, 234, .5)
}

.fotorama__wrap--video .fotorama__stage, .fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__shaft {
  -webkit-transform: none !important;
  transform: none !important
}

.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border {
  transition-property: -webkit-transform, width;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.1, 0, .25, 1);
  transition-duration: 0ms
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__no-select, .fotorama__video-close, .fotorama__video-play, .fotorama__wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.fotorama__nav, .fotorama__nav__frame {
  margin: auto;
  padding: 0
}

.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1
}

.fotorama__nav__frame, .fotorama__thumb-border {
  box-sizing: content-box
}

.fotorama__caption__wrap {
  box-sizing: border-box
}

.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__nav, .fotorama__nav__frame, .fotorama__nav__shaft, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video-close, .fotorama__video-play {
  -webkit-tap-highlight-color: transparent
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
  background: url('/asset/image/fotorama.png') no-repeat
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 2dppx) {
  .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
    background: url(fotorama@2x.png) 0 0/96px 160px no-repeat
  }
}

.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127, 127, 127, .2)
}

@media print {
  .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__thumb-border, .fotorama__video-close, .fotorama__video-play {
    background: none !important
  }
}

.fotorama {
  padding-bottom: 30px;
  min-width: 1px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {

    padding-right: 0;

  }

}

.fotorama:not(.fotorama--unobtrusive) > *:not(:first-child) {
  display: none
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background: #000
}

.fotorama--fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  float: none !important;
  z-index: 2147483647 !important;
  background: #000;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important
}

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
  background: #000
}

.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0
}

.fotorama__wrap--rtl .fotorama__stage__frame {
  direction: rtl
}

.fotorama__nav, .fotorama__stage {
  overflow: hidden;
  position: relative;
  max-width: 100%
}

.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y
}

.fotorama__wrap .fotorama__pointer {
  cursor: pointer
}

.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important
}

.fotorama__stage__frame {
  overflow: hidden
}

.fotorama__stage__frame.fotorama__active {
  z-index: 8
}

.fotorama__wrap--fade .fotorama__stage__frame {
  display: none
}

.fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear, .fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  display: block;
  left: 0;
  top: 0
}

.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8
}

.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7
}

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9
}

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none
}

.fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: none !important
}

.fotorama__error .fotorama__img, .fotorama__loaded .fotorama__img {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, .fotorama__img--full {
  display: none
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block
}

.fotorama__wrap--only-active .fotorama__nav, .fotorama__wrap--only-active .fotorama__stage {
  max-width: 99999px !important
}

.fotorama__wrap--only-active .fotorama__stage__frame {
  visibility: hidden
}

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible
}

.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5
}

.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left
}

.fotorama__nav__frame {
  position: relative;
  cursor: pointer
}

.fotorama__nav--dots {
  display: block
}

.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px
}

.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border {
  display: none
}

.fotorama__nav--thumbs {
  display: block
}

.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important
}

.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important
}

.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none
}

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid #7f7f7f
}

.fotorama__nav__frame:focus .fotorama__dot:after {
  padding: 1px;
  top: -1px;
  left: -1px
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 0;
  height: 0;
  border-width: 3px
}

.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
  padding: 3px;
  top: -3px;
  left: -3px
}

.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%
}

.fotorama__nav__frame:focus .fotorama__thumb {
  z-index: 2
}

.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .25), rgba(64, 64, 64, .1))
}

.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000
}

.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .5)
}

.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, .5)
}

.fotorama__wrap--rtl .fotorama__caption {
  left: auto;
  right: 0
}

.fotorama__wrap--no-captions .fotorama__caption, .fotorama__wrap--video .fotorama__caption {
  display: none
}

.fotorama__caption__wrap {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .9);
  padding: 5px 10px
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.fotorama__wrap--css3 .fotorama__spinner {
  -webkit-animation: spinner 24s infinite linear;
  animation: spinner 24s infinite linear
}

.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: .3s
}

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0
}

.fotorama__select {
  cursor: auto;
  a {
    text-decoration: none;
    color: @color-white;
  }
}

.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10
}

@-moz-document url-prefix() {
  .fotorama__active {
    box-shadow: 0 0 0 transparent
  }
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
  position: absolute;
  z-index: 11;
  cursor: pointer
}

.fotorama__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px
}

.fotorama__arr--prev {
  left: 2px;
  background-position: 0 0
}

.fotorama__arr--next {
  right: 2px;
  background-position: -32px 0
}

.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  *display: none;
  opacity: .1
}

.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 2px;
  right: 2px;
  background-position: 0 -32px;
  z-index: 20
}

.fotorama__arr:focus, .fotorama__fullscreen-icon:focus {
  border-radius: 50%
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -32px
}

.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px;
  opacity: 0
}

.fotorama__wrap--css2 .fotorama__video-play, .fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  display: none
}

.fotorama__error .fotorama__video-play, .fotorama__loaded .fotorama__video-play, .fotorama__nav__frame .fotorama__video-play {
  opacity: 1;
  display: block
}

.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px
}

.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: -64px 0;
  z-index: 20;
  opacity: 0
}

.fotorama__wrap--css2 .fotorama__video-close {
  display: none
}

.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0)
}

.fotorama__wrap--video .fotorama__video-close {
  display: block;
  opacity: 1
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 0
}

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  opacity: 1
}

.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important
}

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  display: none
}

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  display: block
}

.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
  display: none !important
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0)
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
  -webkit-transform: translate3d(-48px, 0, 0);
  transform: translate3d(-48px, 0, 0)
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0)
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
  -webkit-transform: translate3d(32px, -32px, 0) !important;
  transform: translate3d(32px, -32px, 0) !important
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
  -webkit-transform: translate3d(-48px, 0, 0) !important;
  transform: translate3d(-48px, 0, 0) !important
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
  -webkit-transform: translate3d(48px, 0, 0) !important;
  transform: translate3d(48px, 0, 0) !important
}

.fotorama__wrap--css3 .fotorama__arr:not(:focus), .fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus), .fotorama__wrap--css3 .fotorama__video-close:not(:focus), .fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  transition-duration: .3s
}

.fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%
}

.fotorama__nav:before, .fotorama__stage:before {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .2) 25%, rgba(0, 0, 0, .3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, .4), transparent);
  background-position: 0 0, 0 0;
  left: -10px
}

.fotorama__nav.fotorama__shadows--left:before, .fotorama__stage.fotorama__shadows--left:before {
  left: 0
}

.fotorama__nav:after, .fotorama__stage:after {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .2) 25%, rgba(0, 0, 0, .3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .4), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px
}

.fotorama__nav.fotorama__shadows--right:after, .fotorama__stage.fotorama__shadows--right:after {
  right: 0
}

.fotorama--fullscreen .fotorama__nav:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__stage:before {
  display: none
}

.fotorama .any {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 32px;
  text-align: left;

  a {
    display: block;
    height: 100%;

  }

}

.fotorama .inverse {
  color: #fff;
  text-shadow: 0 2px 0 #000;
}

.main {
  padding-top: 20px;
}

.item-offers {
  order: 2;

  width: 100%;

  @media (min-width: @tablet-width) {

    width: 35%;
    min-width: 230px;
  }

  @media (min-width: @desktop-width) {

    width: 25%;
  }

}

//responsive-tabs
/* Tabs container */
.r-tabs {
  position: relative;

  background-color: @color-red;

  border-top: 1px solid @color-red;
  border-right: 1px solid @color-red;
  border-left: 1px solid @color-red;
  border-bottom: 4px solid @color-red;
  border-radius: 4px;

  order: 3;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative;
  background-color: @color-red;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: inline-block;
  padding: 10px 12px;

  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  color: @color-black;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: @color-black;
  text-shadow: none;

  background-color: white;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
  background-color: white;

  border-bottom: 4px solid white;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}

#tab-2 table {

  width: 100%;

  tr {
    padding: 15px 0;

    &:nth-child(odd) {
      background-color: rgba(255, 214, 52, 0.3);

    }

    td {
      padding: 0 10px;

    }
  }
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;

  background-color: @color-red;
  color: @color-black;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
  color: @color-red;
  text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5;
}

/* Buttons */
button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  line-height: 100%;

  color: #fff;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  font-weight: bold;

  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: @color-red;
  box-shadow: 0px 3px 0px 0px @color-red;

  cursor: pointer;
}

/* Info bar */
.info {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;

  font-size: 14px;
  color: @color-red;
  border: 2px solid @color-red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;

  cursor: pointer;
}

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0;
}

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.r-tabs .r-tabs-panel {
  padding: 15px;
  display: none;
}

.r-tabs .r-tabs-accordion-title {
  display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none;
  }

  .r-tabs .r-tabs-accordion-title {
    display: block;
  }
}

#descriptionTabs {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.lb_wrap {
  display: block !important;
  height: 100%;
}

.subtitle.white {
  color: #fff;
}

.subtitle {
  margin: 0;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.04em;
  line-height: 1.45em;
}

h2.titleItems {
  color: #fff !important;
  padding-top: 20px;
  padding-left: 20px;
}

.zayavka-online {
  padding-top: 30px;

  padding-bottom: 30px;

  &:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    h3 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding-top: 10px;
      color: @color-black;

    }
    img {
      width: 130px;
      margin: auto;

    }
  }
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
  }
}

.prichini {

  @media (min-width: @desktop-width) {

    padding-top: 40px;
  }

  h2 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;

  }

  .name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: @color-red;
    }
  }

  .icon {
    width: 100px;
    margin: auto;
    padding-bottom: 10px;
    fill: @color-red;

    &:hover {

      fill: @color-black;
      cursor: pointer;

    }

  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .item {
      width: 100%;
      padding: 30px;

      @media (min-width: @tablet-width) {
        width: 40%;

      }
      @media (min-width: @desktop-width) {
        width: 25%;

      }

    }
  }

  .desc {
    display: none;
  }

  .item-desc-show {

    position: fixed;

    width: 50%;
    margin: auto;
    background-color: @color-white;
    border-radius: 3px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    font-size: 20px;
    border: @color-red 1px solid;
  }
}

/*
 * qTip2 - Pretty powerful tooltips - v3.0.3
 * http://qtip2.com
 *
 * Copyright (c) 2017
 * Released under the MIT licenses
 * http://jquery.org/license
 *
 * Date: Sun Aug 27 2017 03:28 EDT-0400
 * Plugins: None
 * Styles: core
 */
.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 400px;
  min-width: 50px;
  direction: ltr;
  box-shadow: none;
  padding: 0;
}

.qtip-content {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.5;
  padding: 15px;
}

.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;

  border-width: 0 0 1px;
  font-weight: bold;
}

.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important;
}

/* Default close button class */
.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  z-index: 11; /* Overlap .qtip-tip */

  cursor: pointer;
  outline: medium none;

  border: 1px solid transparent;
}

.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
  top: 16px;
}

/* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  color: inherit;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus {
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover {
}

/* Default tooltip style */
.qtip-default {
  border: 1px solid @color-red;

  background-color: @color-white;
  color: @color-black;
}

.qtip-default .qtip-titlebar {
  background-color: #FFEF93;
}

.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}

.okompanii {

  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h2 {
    padding-bottom: 20px;
  }

  p {
    width: 40%;
    text-align: justify;
    font-size: 22px;
    padding-bottom: 30px;

    @media (min-width: @tablet-width) {

    }
  }
}

.mainImg {

  width: 100%;
  min-height: 300px;

}

.itemTov {

  h2 {
    font-size: 23px !important;
    text-align: center;

  }
}

.brand {

  padding-bottom: 0;
  background-color: #ffd634;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: contain;

  img {
    width: 70%;
    max-width: 90%;
    margin: 0 auto;
  }
}

span.boldmain {
  font-size: larger;
}

.vRazrabotke {
  padding: 20px;
  text-align: center;
  h3 {
    font-size: larger;
    padding: 10px;
  }
}

.brandKat {

  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

.first-montag {
  width: 100%;
  height: 900px;
  background-image: url("/asset/image/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;

  h1 {
    color: @color-white;
    padding: 200px 0 50px;
    font-family: @font-brutaltype-bold;
    font-size: 50px;
    text-shadow: 2px 2px 2px black, 0 0 2em @color-red;
  }

  .montag-offer {
    margin: 0 auto;
    background-color: @color-red;
    width: 500px;
    font-size: 20px;
    padding: 30px 10px;

    li {
      padding-bottom: 15px;
      list-style: none;
    }
  }

  .montag-uslovia {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 30px;
    font-weight: bold;

    div {
      padding: 20px;
      background-color: @color-red;

    }

  }
}

.montag {

  h2 {
    padding-top: 30px;
    text-align: center;
    line-height: 1.5;
  }
  p{
    text-align: center;
    font-size: 20px;
  }

  .vidi-montag {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .vid-montag {
      width: 480px;
      padding-bottom: 30px;

      .vid-name-montag {
        font-weight: bold;
        height: 30px;
        background-color: @color-red;
        padding-top: 5px;
        padding-left: 10px;

      }
      .vid-name-montag-pic {
        background-size: cover;
        width: 100%;
        height: 200px;

      }

      .saiding-pic {
        background: @color-red url('/asset/image/saiding.jpg') no-repeat left top;

      }

      .saiding-cokol-pic {
        background: @color-red url('/asset/image/cokol.jpg') no-repeat left top;
      }

      .blokhouse-pic {
        background: @color-red url('/asset/image/blokhouse.jpg') no-repeat left top;
      }
      .krovlya-pic {
        background: @color-red url('/asset/image/krovlya.jpg') no-repeat left top;
      }
      .fibro-pic {
        background: @color-red url('/asset/image/fibroc.jpg') no-repeat left top;
      }
      .metallsaiding-pic {
        background: @color-red url('/asset/image/dom-iz-sajdinga-l-brus-crop.jpg') no-repeat left top;
      }
      .vodostok-pic {
        background: @color-red url('/asset/image/vodostok.jpg') no-repeat left top;
      }

      .vid-text-montag {
        line-height: 2;
        text-align: justify;
        background-color: @color-red;
        padding: 10px;
      }

    }
  }

  .montag-brends {

    display: flex;
    flex-wrap: wrap;

    .montag-brends-row {
      padding-bottom: 20px;
      justify-content: space-around;
      width: 100%;
      display: flex;

      div {
        img {
          width: 120px;

          &:hover {
            animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
          }
        }
      }

    }
  }

.montag-tekh{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .pravila-montag-tekh{
    width: 500px;

    .pravila-montag{

      padding: 0 0 15px 0;
      .pravila-montag-header{
        font-weight: bold;
        padding-bottom: 10px;
      }
      .pravila-montag-body{
        line-height: 1.5;
        text-align: justify;
      }
    }
  }
}


}

.yellback {
  background-color: @color-red;
  padding-bottom: 40px;
}