/* colors */
@color-white: #eeeeee;
@color-smoke-white: #ebebeb;
@color-black: #000000;
@color-red: #FFD634;
@color-pink: #ffd8d5;
@color-dim-gray: #6a6a6a;
@color-gray: #8A8A8A;
@color-gainsborough: #e7e7e7;

@color2: #8A8A8A;


/* font & sizes */
@font-opensans-light: "OpenSansLight", sans-serif;
@font-opensans-light-italic: "OpenSanslightitalic", sans-serif;
@font-opensans-cond-light-italic: "OpenSans-CondLightItalic", sans-serif;
@font-opensans-bold: "OpenSansBold", sans-serif;

@font-brutaltype-light: "BrutalTypeLight", sans-serif;
@font-brutaltype-extra-light: "BrutalTypeExtraLight", sans-serif;
@font-brutaltype-bold: "BrutalTypeBold", sans-serif;


/* height & width */
@mobile-width: 460px;
@tablet-width: 768px;
@desktop-width: 1170px;

@mobile-header-height: 172px;
@tablet-header-height: 136px;
@desktop-header-height: 217px;
