&.item {

  aside {
    float: left;
    width: 235px;
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    .aside-menu {
      margin: 0 0 20px 0;;
      padding: 0;
      background: @color-red;
      position: relative;
      border-radius: 3px;

      li {
        border-top: 1px solid @color-red;
        border-left: 1px solid @color-gainsborough;
        padding: 5px 10px;
        position: relative;

        &:first-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

        }

        &:last-child{
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;

        }

        &:hover {
          background: @color2;
        }

        a {
          display: block;
          height: 100%;
          font-size: 13px;
          font-weight: bold;
        }

        ul {

          display: none;
          background-color: @color-red;
          position: absolute;
          z-index: 9999;
          left: 235px;
          width: 235px;
          top: -1px;
          border-radius: 3px;

          li {

            &:hover {

              ul.podKats2 {

                display: block;
              }
            }
          }

        }

        &:hover {

          ul.podKats {

            display: block;
          }
        }

        a {
          color:@color-black;
        }
      }


      .currentKateg {

        background: @color2;
      }





      a {
        text-decoration: none;
        font-family: @font-opensans-light;
        font-size: 18px;

      }

      .currentKategA{

        color:@color-red;
      }


    }

    .aside-basket {
      //box-shadow: 0px 0px 18.69px 2.31px rgba(0, 0, 0, 0.44);
      text-align: center;
      margin-top: 40px;
      padding: 20px;
      line-height: 25px;

      p {
        font-family: @font-brutaltype-light;
        font-size: 20px;
        color: @color-black;

        &:first-child {
          font-family: @font-brutaltype-bold;
          font-size: 20px;
          color: @color-black;
        }
      }

      a {
        text-decoration: none;
        font-family: @font-brutaltype-bold;
        font-size: 20px;
        color: @color-red;
      }
    }
  }

  .section {
    float: left;
    position: relative;
    padding-bottom: 40px;
    width: 100%;

    @media (min-width: @tablet-width) {

      padding-left: 30px;
      width: calc(~'100% - 265px');
    }

    .section-top, .section-mid {
      width: 100%;


      .section-info {
        width: 100%;



        @media (min-width: @tablet-width) {

        }

        ol, ul {
          list-style: circle;

        }

        h1 {
          font-family: @font-opensans-bold;
          font-size: 25px;
          color: @color-black;
          margin-top: 0;
          padding: 20px 0 20px 20px;

          @media (min-width: @tablet-width) {
            padding: 0 0 20px 0;
          }
        }

        .section-img {
          width: 100%;
          padding-left: 15px;
          padding-bottom: 25px;

          @media (min-width: @tablet-width) {

            float: right;
            max-width: 300px;
          }

          /* box-shadow: 0px 0px 45.805328px 0.194672px rgba(0, 0, 0, 1);   */
        }


      }

    }

    .section-mid {
      padding-bottom: 10px;
    }

    .contrView{

      width: 100%;
      text-align: right;
      padding-bottom: 10px;


       i{

         padding-left: 5px;


         &:hover{
           font-size: large;
           cursor: pointer;
         }


       }

      .fa-th-large{
        padding-right: 20px;

        @media (min-width: @desktop-width) {

          padding-right: 0;
        }

      }


      .cur{
        font-size: large;
        color: @color-red;

      }
    }
    .section-bottom {

      padding-top: 10px;

      @media (min-width: @desktop-width) {
        padding-top: 0;
      }

      table {
        width: 100%;
        max-width: 100%;

        .itemKatalogRow {

          .itemKatalogRowParam {

          }

        }

        th {
          background: @color-red;
          color: @color-white;
          font-family: @font-opensans-bold;
          padding-top: 16px;
          padding-bottom: 10px;
          padding-left: 20px;
          vertical-align: middle;

          &:first-child {
            /* width: 305px;*/
          }

          &:nth-child(2) {
            //width: 130px;
          }

          &:nth-child(3) {
            // width: 120px;
          }
        }

        .print {
          position: relative;
          display: block;
          width: 35px;
          height: 33px;
          background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDxp4BWxOAAABxElEQVRIx8XWP2gTYRjH8c+l14toxKIUFBT/IQh2cugQ4iAFFXRQJ3FQOrhZ6uAi4tCKq4OIo7PQwUHEUVCcFKGzFVqiiLgI1goqOYemyd0ll0si4u/geN7nnvfL8/7e+xfEEjrhqBGpVEuBho9eeZ9Oz4EwkZlyQ5GmPXavM11KxJMg7nHAOfOdmGQ3a+CqzzmdnDYNjrntVj6mAZabuE59aUU1d9zMW9S6tuX6UknEVdd7Y/I1mlniweEwLzO3wqnu3hSp7rJJoxrKLgltHw5DXb0ZXRD6Pdyi2qpk5w2H6VAS82PAuYn6DW92i+wcEDPugJ8+QBBzxKxDrYsXferDmwWbmvGK+3Nvgni/h6mS43118tTmxGgmNJspmPGtEBKJwBOBM7gWOpwpOd+3Ny/cxZiaPX+z4WOtcxzE6VUOpmWBvVgb7GHIat9G8A/u4v+P6fTmue+FsyJTRtKYcqZkvhACtdT+RqU0Fbv6gGTfN2Hoih1ixM6qDmTIW48ECHwNLVlqpidUsdoHYFWMFa+7fcO3gnG/BD0hsYoAW5IWt7Vu2gONQkxJlI9ZdJKOncvXYnfMM2UTSjn/N9mO3lloD/8ASrheDSbH/ngAAAAASUVORK5CYII=');
          float: left;
          left: 5px;

          &:hover {
            background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAhCAQAAAD5GNrZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMUDzM6t/QiAAAByUlEQVRIx8XWP2hTURTH8c+LIW0KahAVRRcLLkUU1zgK0sWibgqiQ3EQXd0EdRUEoQ7i4CYIStHNwUEnJ61DlQoODk4O1sT/pTkOTZr3+hJfmyL+7nLuue98Oefcy70vCSmddlhZxrWsxKL3HnmddV9dWkzFnHRPsaZczGNKKc84CC3RY7TaWV7wMM8up+wmqPsg6ZFFmHQNnDDteH9MC7zR6FPOx2XrmMcm0kul3Mdb+3allrKPuvN3TH9VMrNJBwbDTLfL7uhs794Uac6YcUMWVV1WsWMwDHPm2tYlFQuDFdVVTYn0aR8Mk1Ma01xj7Ld8b/aq2rNGzG77/fQOhKjHy+hqNBSOWnxd/n42jlwh9kVWxRAhGpmYQ2VTK1K96XNhOcOGwW2Jc7glvsegehBCTEfEj/Vs+HawDa0kGjYODJqVGENzfZiOmv/gFP9/TP6iuO9Lzys9rSGnspFJLKxAFSGWlN2Y36VcPqOrgNRWNKNSdtBOgXA++2gU6qnrEiQ+lc2YabvrJjC/CsC8wFtPOo9vuqQtYJdfBf0JNQk2d11pzFLTXmgVYkqq2NQb88wZjKy6N897Y+4aUbehz/9NVi2v3OhO/wCE3v+KBTZo6wAAAABJRU5ErkJggg==');
          }
        }

        .cart {
          position: relative;
          display: block;
          width: 40px;
          height: 32px;
          background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAQAAADKpPKLAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMVKAknvPXCAAAB7ElEQVRIx63WT0sUYRgA8N/YpiAdBLt4qCAQlAi2Lh06duoLBPUBAg9RBHWQREY6RAURHiIhgj5AdZASpSAQoT+YfwhNsqBAi0xWQktbmg7bars7s7pjzxzmfd95+DHzPjPvvEF0SVZgIyIf9cjZYoRl/YxjFTnNTru6VbA86mJHs2k5Msa1/tNvBC0arKYDg6iIFOKoTtBltGRmIdpUWwvzQVlWxqAAkR8V4Ob4T/1BxZVb2tLPYFxRxrbDeV8JvtsWOFQJTm0LHKwE58yn5ibDxbgXeyw1OBL/paQHn8SDb1NyE+HXePCT76nAZ8SDv02mAkeSQMZTcFPh5/8LDhRO8eCM5ZrB4WpgZLZGbiZcrAbypkbwcbGRBI7VxK0aKjYzCSmT8jKYdc2aFvUJecsWCD9sDASJ6/oVR5DT76WJKnd30AG7LHkQ5quDFx1fbz9yJ2bRjzTpXP/FzTkbLiSD+/SVPGY+Jieys6Q/HXYkF+WEegzr0CtCJuYocPPOuyCHtu7WZHA/VnSZdt9T1eJ6+Dp8pRe0J1d5BTs0yaEZfJEv2wPt1oC9RrEH/EoGhxzW4LaH2mTxzcmKsmTdwJnuZnVOgRfVqtxXskU5F7tgFF6tYtwL71YDG/VoB0tuep6Qddmhv62BsBf+AGj+gxHaJ9l/AAAAAElFTkSuQmCC');
          left: 67px;

          &:after {
            position: absolute;
            top: -12px;
            right: -12px;
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            content: attr(data-count);
            background-color: @color-dim-gray;
            text-align: center;
            color: @color-white;
            font-family: @font-brutaltype-light;
            font-size: 20px;
          }

          &:hover {
            background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAQAAADKpPKLAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhChMVKBfds8ihAAAB9klEQVRIx6XVv2sUQRjG8e8cMRowYqNgUgULxc4UJ4hwGsHCJtiZzhALm2BpY7Ejgn+BVTQGjbFQNCgRLAL5IcgREolYiHii4kG4IBIlnHrmHgvvjJud2eTm3i12ZvfdD/POzs4ajZEjw3pUeUMfJbYYdkPfSI6sYQZCwYwz68RWuWS0ME03UB/nLgC6aKMcBhpB+3/9Xu4AcIbJxOi1qVa2FbMhq5UyGaDKKiblUTe+ypBJ3MmTDZ9B10uZbobjVRJ82RQ4mix5P++aAPclR1jgfTD33C65Fnb4LD52fylTweA9NzgXyM3az27wLV+DwPvgBteYDQKf+ECYCeDy9oMfDHnPI39PbnCBlYbB8TSwymKD3LxdSgPhRYPgrXrDB041xJUZrTeNZxveyRdagUXO84MudniobxTBvl6/YLz7+gSngRJDPEtdl8c4ym6WuW5/pYPD9P9r3+SyY9MXe7hNd61XIGeLfvAQ87EyK05we6w/Z7OA3McNSdIjZTWoNaVFQT06pZIk6XDkBfOSVmrtu6ngyYgInZUkXYho8czgd2AbeykBHQB8pBL7sYpO2oCDTAIHAPjpL/mcJOmTLumBJKkok8g5Lkn6rau6Vhtth79ktBArLOfMmYjlXImIUpZNOw85AsAygzz1ZI3TU5uAEXsR4A+EaU/g8ugxhAAAAABJRU5ErkJggg==');
          }
        }

        td {
          padding-top: 35px;
          padding-bottom: 35px;
          padding-left: 20px;
          font-family: @font-brutaltype-light;
          font-size: 18px;
          vertical-align: middle;
          text-align: center;
          white-space: nowrap;
        }

        tr:nth-child(2n-1) {
          background: @color-smoke-white;
        }

        & button {
          border: none;
          background-color: @color-red;
          color: @color-white;
          text-align: center;
          font-family: @font-brutaltype-light;
          font-size: 20px;
          height: 43px;
          width: 135px;
        }

        & input {
          background: none;
          border: 1px solid;
          border-color: @color-pink;
          height: 39px;
          width: 95px;
          font-family: @font-brutaltype-light;
          font-size: 22px;
          text-align: center;
          outline: none;

        }
      }
    }
  }
}