.footer {
  margin-top: 40px;
  background: @color-red;
  border-top: solid 1px;
  background-image: url("/asset/image/fronthouseFooter.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-position-y: bottom;

  width: 100%;
  min-height: 250px;


  clear: both;

  .topFooter {

    overflow: hidden;
    color: @color-black;
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      display: block;

    }
    .phone {
      float: left;
      margin-top: 15px;
      height: inherit;
      order: 1;
      @media (min-width: @tablet-width) {
        width: 100%;


      }
      > p {
        width: 100%;
        text-align: center;
        font-family: @font-brutaltype-bold;
        font-size: 30px;

        @media (min-width: @desktop-width) {
          text-align: left;
        }
      }

    }

    .timeFoot {

      display: none;
    }

    .logo {
      float: left;
      height: inherit;
      width: 100%;
      position: relative;
      margin-top: 10px;
      text-align: center;
      order: 0;

      @media (min-width: @tablet-width) {
        width: calc(100% - 80%);
      }

    }

    .mail {
      float: left;
      margin-top: 40px;
      height: inherit;
      width: 100%;
      text-align: center;
      font-family: @font-opensans-light;
      font-size: 18px;
      @media (min-width: @tablet-width) {
        width: 40%;
      }
      @media (min-width: @desktop-width) {
        text-align: left;

      }

    }
  }

  .bottom {
    color: @color-black;

    p {
      margin-top: 50px;
      text-align: right;
      color: @color-black;
      font-family: @font-opensans-cond-light-italic;
      font-size: 11px;
      line-height: 1.5;
      padding-bottom: 10px;
      padding-right: 10px;

      a {
        color: #0095CF;
        text-decoration: none;

      }
      @media (min-width: @tablet-width) {
        padding-bottom: 0;

      }

    }

  }
}
