.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  .menuButton {
    margin-top: 15px;
    padding-left: 20px;
    @media (min-width: @desktop-width) {
      display: none;

    }

    i {
      color: @color-red;
      font-size: 25px;
      padding-top: 5px;

    }
  }

  .search {
    float: left;
    width: 100%;
    height: inherit;
    order: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 14px;

    @media (min-width: @tablet-width) {
      width: 50%;


    }

    @media (min-width: @desktop-width) {
      order: 0;
      width: 20%;
      text-align: left;


      padding: 0;
      margin-bottom: 10px;
      border-radius: 5px;

    }


    #ya-site-form0 {
      .ya-site-form__search-input{

        padding: 0;
      }

    }

    input.ya-site-form__input-text {
      height: 30px;
      padding: 5px;
      border-radius: 3px;

    }

    input.ya-site-form__submit{

      display: none!important;

      //&:before {
      //  content: '\f150';
      //  color: @color-red;
      //  pointer-events: none;
      //  cursor: pointer;
      //  font: normal normal normal 14px/1 FontAwesome;
      //}

      //&:after{
      //
      //  content: '<i class="fa fa-search"></i>';
      //}


    }

  }



  .logo {
    text-align: center;
    height: inherit;

    a {
      display: block;

      img {
        width: 250px;
        padding-left: 18px;

        @media (min-width: @tablet-width) {
          width: 430px;

        }
        @media (min-width: @desktop-width) {
          width: 470px;
        }
      }
    }
  }

  .contact {
    height: inherit;
    font-size: 18px;

    line-height: 30px;

    @media (min-width: @tablet-width) {
      text-align: right;
      padding-right: 20px;
    }

    p {
      display: none;
      @media (min-width: @tablet-width) {
        font-family: @font-brutaltype-bold;
        display: block;
      }

    }
    .topTel {

      padding-top: 5px;

      @media (min-width: @desktop-width) {
        font-size: 25px;
      }
    }
    .topMail {


      @media (min-width: @desktop-width) {
        padding-top: 5px;
      }

      i {

        color: @color-red;
      }
    }

    .topAdress{

      @media (min-width: @desktop-width) {
        padding-top: 5px;
      }


    }

    a {

      i {
        color: @color-red;
        width: 100%;
        font-size: 25px;
        padding-top: 5px;



        @media (min-width: @tablet-width) {
          display: none;

        }

      }

    }

  }
}

.is-sticky{


  .top{
    padding-top: 8px;
    background-color: #fff;
    box-shadow: 0 2px 2px #e7d12a;
    z-index: 999999!important;

    .menuButton{

      margin-top: 0;
    }

    .contact{

      display: flex;
      a {
        i{
          padding-bottom: 8px;
          padding-right: 20px;
        }
      }
    }



    .search{
      display: none;
    }

    .logo {
      a {
        img {
          height: 35px;
          width: auto;
        }
      }

    }
  }

}

.header {

  #sticky-wrapper {
    height: auto!important;
  }


  > .menu {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.nojs {
      display: block;
      position: inherit;
      width: 100%;
      text-align: justify;

    }

    @media (min-width: @desktop-width) {
      padding-top: 15px;
      padding-bottom: 20px;
      display: block;
      text-align: justify;
      position: inherit;
      width: 100%;

    }

    .is-sticky{
      ul {
        .navLogo{
          display: block;
        }

        &:before {
           
          background:  @color-red;  /* Соответствует фону элемента h2 */
        }
      }

    }

    ul {

      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between ;
      font-family: @font-brutaltype-bold;
      background-color:  #2c2c2c;
      position: relative;
      z-index: 99!important;


      @media (min-width: @desktop-width) {
        flex-direction: row;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        background:  #2c2c2c;  /* Соответствует фону элемента h2 */
        top: 0;
        bottom: 0;
        width: 9999px;   /* Очень большая ширина */


      }
      &:before {
        right: 100%;

      }
      &:after {
        left: 100%;
      }


      @media (min-width: @desktop-width) {

        width: auto;
        max-width: none;
        padding-bottom: 0;
        padding-top: 0;

      }
    }

    .navLogo{
      display: none;
      padding: 0;
      background-image: url(/asset/image/icon/logo_short.svg);
      background-size: cover;
      width: 50px;
    }

    li {


      margin-right: 5px;
      padding: 5px;
      padding-bottom: 30px;

      &:last-child {
         padding-bottom: 5px;

       }


      @media (min-width: @desktop-width) {
        display: inline;
        padding-bottom: 5px;

      }
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: @font-brutaltype-bold;
      font-size: 20px;

      &:hover {
        color: @color-red;
      }
    }
  }

  > .breadcrumbs {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: @desktop-width) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
    }

    > div > p {

      line-height: 1.5;

      color: @color-black;
      font-family: @font-brutaltype-extra-light;
      font-size: 16px;
      text-align: justify;

      > a {
        text-decoration: none;
        color: @color-black;

        &:hover {
          text-decoration: underline;

        }
      }
    }

  }
}

i#menuButtonClose {
  position: absolute;
  top: 20%;
  right: 40px;
  font-size: 25px;
  color: @color-red;
  z-index: 99999999;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

