@font-face {
    font-family: "BrutalTypeExtraLight";
    src: url("/asset/font/BrutalType/Brutal-Type-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "BrutalType";
    src: url("/asset/font/BrutalType/Brutal-Type.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BrutalTypeLight";
    src: url("/asset/font/BrutalType/Brutal-Type-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BrutalTypeMedium";
    src: url("/asset/font/BrutalType/Brutal-Type-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "BrutalTypeBold";
    src: url("/asset/font/BrutalType/Brutal-Type-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}