@font-face {
    font-family: "OpenSansLight";
    src: url("/asset/font/OpenSans/OpenSans-Light-webfont.eot");
    src: url("/asset/font/OpenSans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/asset/font/OpenSans/OpenSans-Light-webfont.woff") format("woff"),
    url("/asset/font/OpenSans/OpenSans-Light-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("/asset/font/OpenSans/OpenSans-Regular-webfont.eot");
    src: url("/asset/font/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/asset/font/OpenSans/OpenSans-Regular-webfont.woff") format("woff"),
    url("/asset/font/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("/asset/font/OpenSans/OpenSans-Semibold-webfont.eot");
    src: url("/asset/font/OpenSans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/asset/font/OpenSans/OpenSans-Semibold-webfont.woff") format("woff"),
    url("/asset/font/OpenSans/OpenSans-Semibold-webfont.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "OpenSansBold";
    src: url("/asset/font/OpenSans/OpenSans-Bold-webfont.eot");
    src: url("/asset/font/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/asset/font/OpenSans/OpenSans-Bold-webfont.woff") format("woff"),
    url("/asset/font/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "OpenSansExtraBold";
    src: url("/asset/font/OpenSans/OpenSans-ExtraBold-webfont.eot");
    src: url("/asset/font/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/asset/font/OpenSans/OpenSans-ExtraBold-webfont.woff") format("woff"),
    url("/asset/font/OpenSans/OpenSans-ExtraBold-webfont.ttf") format("truetype");
    font-weight: 800;
    font-style: normal
}